<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>
    <%= status %> - <%= mensaje %>
  </h1>

  <% if (status === 201) { %>
    <a href="/">Ir al LOGIN</a>
  <% } else { %>
    <a href="/user/registro">Ir al REGISTRO</a>
  <% } %>

</body>

</html>